.home {
	padding: 10px;
	height: 100vh;
	overflow: hidden;
	background-color: #2c3134;
}

.home .grid .column {
	height: calc(100vh - 80px);
	overflow-y: auto !important;
}

.ui.inverted.segment {
	min-height: 68px;
}

.ui.inverted.segment .feed {
	position: absolute;
	right: 10px;
}

.ui.inverted.segment .secondary {
	margin: 0px;
}

.ui.inverted.segment .feed .event .content .summary a {
	color: white;
	margin: 0px;
}

.event {
	padding: 15px !important;
}

.menu-user {
	margin-top: -12px !important;
}

.menu-user .content {
	margin: 0.2em 0 .35714286em 1.14285714em !important;
}

.titleText {
	color: wihte;
	font-weight: bold;
	font-size: 16px;
}

.playlistHead {
	position: relative;
	width: 100%;
	height: 110px;
}

.phLeft {
	float: left;
	height: auto;
	margin-right: 10px;
}

.phTitle {
	padding-top: 10px;
	font-size: 50px;
	font-weight: bold;
}

.phSub {
	margin-top: 20px;
	font-size: 14px;
	color: #ccc;
}

.phRight {
	float: left;
	height: auto;
}

.basic.table, .ui.table thead th {
	color: #ccc;
	font-size: 13px;
	cursor: pointer;
}

.ui.table thead th {
	color: white;
	font-size: 15px;
}

.ui.celled.grid {
	box-shadow: none;
}

.ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column {
	box-shadow: none;
}

.player {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
	left: 0;
	background-color: #1b1c1d !important;
}

.player .react-h5-audio-player {
    width: 100%;
}


.react-h5-audio-player div.flex {
	background-color: #1b1c1d !important;
}

.react-h5-audio-player .toggle-play-button {
	background-color: #4c5154 !important;

}

.react-h5-audio-player .pause-icon {
	box-shadow: #4c5154 7px 0px 0px 0px inset !important;
}

.noPreview {
	position: absolute;
	left: 30px;
	top: 25px;
	font-size: 13px;
	color: #ccc;
}

.ui.basic.table {
	padding-bottom: 120px;
}

.ui.basic.table tbody tr:hover {
	background-color: #4c5154;
}

.trackImg {
	margin-top: 5px;
}

h4.ui.header {
    z-index: 10001;
    position: relative;
    top: 70px;
    left: 10px;
    color: white;
    margin-bottom: 0px;
	margin-top: 0px;
	display: none;
}

.ui.celled.collapsing.very.basic.table {
	width: 100%;
}

.ui.circular.button.logout {
    margin-left: 10px;
    background-color: #696969;
    color: #ccc;
    width: 30px;
    height: 30px;
    line-height: 7px;
    padding-left: 9px;
}

.playingSong {
	position: absolute;
	bottom: 14.5px;
	left: calc(13% + 81.61px);
	z-index: 1002;
	font-size: 12px;
	color: #ccc;
}

@media only screen and (max-width: 1280px) {
	.playingSong {
		left: calc(14% + 81.61px);
	}
}

@media only screen and (max-width: 1125px) {
	.playingSong {
		left: calc(15% + 81.61px);
	}
}

@media only screen and (max-width: 1024px) {
	.playingSong {
		left: calc(15.5% + 81.61px);
	}
}

@media only screen and (max-width: 991px) {
	.playingSong {
		left: calc(15.5% + 81.61px);
	}
}

@media only screen and (max-width: 767px) {
	.playingSong {
		left: calc(17.5% + 81.61px);
	}
	h4.ui.header {
		display: block;
	}
	.ui.grid>.column.row>[class*="three wide"].column {
		display: none;
	}
	.ui.grid>.column.row>[class*="thirteen wide"].column {
		width: 100% !important;
	}
	.ui.inverted.segment {
		width: 100vw;
		z-index: 1000;
		left: 0px;
		top: 0px;
		position: absolute;
	}
	.ui.celled.grid {
		margin-top: 70px;
	}
	.ui.basic.table thead {
		display: none;
	}
	.ui.basic.table tbody tr img {
		position: absolute;
		right: 20px;
		height: 100px;
	}
}

.ui.dimmer {
	background-color: transparent;
}

@media only screen and (max-width: 600px) {
	.playingSong {
		left: calc(19% + 81.61px);
	}
}

@media only screen and (max-width: 479px) {
	.playingSong {
		left: calc(20% + 81.61px);
		font-size: 10px;
	}
	.phTitle {
		font-size: 40px;
	}
}

@media only screen and (max-width: 375px) {
	.playingSong {
		left: calc(22% + 81.61px);
		font-size: 9px;
	}
	.phTitle {
		font-size: 30px;
	}
	.ui.basic.table tbody tr img {
		position: absolute;
		right: 20px;
		height: 70px;
	}
	.ui[class*="very basic"].table:not(.sortable):not(.striped) td {
		width: calc(100% - 75px) !important;
	}
}